<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <title>PolyConf - Polyglot Programming Conference</title>

  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies for programmers interested in polyglot approach to software development."/>
<meta name="author" content="PolyConf HQ || Designed by Paweł Wodkowski pawel@nukomeet.com"/>

<!-- Open Graph data -->
<meta property="og:title" content="PolyConf 15 A conference for polyglot programmers" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://polyconf.com/" />
<meta property="og:description" content="PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies for programmers interested in polyglot approach to software development." />
<meta property="og:image" content="http://polyconf.com/fb.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="PolyConf" />
<meta property="og:locale" content="en_US" />
  <script src="//use.typekit.net/nxq5wzz.js"></script>
<script>try {Typekit.load();} catch (e) {}</script>
<link rel="stylesheet" href="/assets/styles.css">
<link href="/assets/favicon.ico" rel="shortcut icon">
</head>
<body lang="en">
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies for programmers interested in polyglot approach to software development."/>
<meta name="author" content="PolyConf HQ || Designed by Paweł Wodkowski pawel@nukomeet.com"/>

<!-- Open Graph data -->
<meta property="og:title" content="PolyConf 15 A conference for polyglot programmers" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://polyconf.com/" />
<meta property="og:description" content="PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies for programmers interested in polyglot approach to software development." />
<meta property="og:image" content="http://polyconf.com/fb.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="PolyConf" />
<meta property="og:locale" content="en_US" />

  <footer>
  <div class="container">
    <h2>
      <span id="see-you">See you next year!</span>
      <span id="you-can-contact-us">You can always contact us at<br><a href="mailto:hello@polyconf.com">hello@polyconf.com</a></span>
    </h2>
  </div>
</footer>
</body>
</html>
