<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <title>PolyConf - Polyglot Programming Conference</title>

  <%= render 'partials/meta.html.erb' %>
  <%= render "partials/head.html.erb" %>
</head>
<body lang="en">
  <%= yield %>

  <%= render 'partials/footer.html.erb' %>
</body>
</html>
