<footer>
  <div class="container">
    <h2>
      <span id="see-you">See you next year!</span>
      <span id="you-can-contact-us">You can always contact us at<br><a href="mailto:hello@polyconf.com">hello@polyconf.com</a></span>
    </h2>
  </div>
</footer>